*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url("../imgs/bg.png") no-repeat center center;
	background-size: cover;
	height: 92vh;
}
textarea{
	resize: none;
}